<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>eShop</title>
</head>

<body>
  <div id="app">
    <header class="header">
      <search :goods="filteredGoods"></search>
      <!-- <div class="search">
            <form class="goods-search-from" @submit.prevent>
              <input type="text" class="goods-search" v-model.trim="searchLine" />
              
            </form>
          </div> -->

      <basket v-if="isVisibleCart"></basket>
      <button class="cart-button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
    </header>
    <main class="content">
      <goods-list :goods="filteredGoods"></goods-list>

      <div v-if="filteredGoods.length == 0">
        <h3 class="goods-null">Нет данных!</h3>
      </div>
  </div>
  </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</body>

</html>